#define SIMPLE_MORPH(NAME, MOD, BINDING1, BINDING2) \
    ZMK_MOD_MORPH(NAME, \
        mods = <(MOD_L ## MOD|MOD_R ## MOD)>; \
        bindings = <BINDING1>, <BINDING2>; \
    )

// tap: qmark | shift + tap: excl
SIMPLE_MORPH(qexcl, SFT, &kp QMARK, &kp EXCL)
// Tap: lparens  |  shift + tap: <
SIMPLE_MORPH(lpar_lt, SFT, &kp LPAR, &kp LESS_THAN)
// Tap: lparens  |  shift + tap: <
SIMPLE_MORPH(rpar_gt, SFT, &kp RPAR, &kp GREATER_THAN)

// tap: comma | shift + tap: semicolon
SIMPLE_MORPH(comma_semi, SFT, &kp COMMA, &kp SEMI)

// tap: dot | shift + tap: colon
SIMPLE_MORPH(dot_colon, SFT, &kp DOT, &kp COLON)

// tap: sticky-shift | shift + tap/ double-tap: caps-word | hold: shift
ZMK_MOD_MORPH(smart_shft,
    bindings = <&sk LSHFT>, <&caps_word>;
    mods = <(MOD_LSFT)>;
)

// Define "behaviors" for HRM chord
ZMK_BEHAVIOR(tab, tap_dance,
    tapping-term-ms = <0>;
    bindings = <&kp TAB>;
)

ZMK_BEHAVIOR(esc, tap_dance,
    tapping-term-ms = <0>;
    bindings = <&kp ESC>;
)

ZMK_BEHAVIOR(l_than, tap_dance,
    tapping-term-ms = <0>;
    bindings = <&kp LESS_THAN>;
)

ZMK_BEHAVIOR(g_than, tap_dance,
    tapping-term-ms = <0>;
    bindings = <&kp GREATER_THAN>;
)

ZMK_BEHAVIOR(nav, tap_dance,
    tapping-term-ms = <250>;
    bindings = <&mo NAV>, <&mo MV>;
)

ZMK_BEHAVIOR(bspc_d, hold_tap,
    flavor = 'tap-preferred';
    tapping-term-ms = <150>;
    quick-tap-ms = <100>;
)

ZMK_CONDITIONAL_LAYER(util, NAV NUM, UTIL)
