// (_) => {}
ZMK_MACRO(fn_open,
      bindings
          = <&macro_tap &kp LPARENS &kp RPARENS>;
          <&macro_tap &kp SPACE &kp EQUAL &kp GREATER_THAN>:
          <&macro_tap &kp SPACE &kp LBRC &kp RBRC>;
          //          1        2        3
          <&macro_tap &kp LEFT &kp LEFT &kp LEFT>;
          //          4        5        6
          <&macro_tap &kp LEFT &kp LEFT &kp LEFT>;
          <&macro_tap &kp LEFT>;
)
